<!DOCTYPE <html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-   width, initial-scale=1">
    <title>
      Jovian Careers     
    </title>



  </head>
  <body>
    <div> 
    <h1> {{company_name}} Careers </h1>
    <img src="https://d99ed851-fd95-4292-b583-35f5789c8eb3-00-fg71h34c9scx.pike.replit.dev/static/banner.jpeg.jpg"height="320">
    <h2> About Jovian </h2>
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Sagittis bibendum malesuada suscipit quis ultrices lacinia erat neque. Gravida ad eget natoque facilisi platea hac ut. Et commodo ante venenatis condimentum scelerisque feugiat. Sodales est integer magna tellus nisl. Euismod aptent mattis nibh magna auctor rhoncus. Habitant suscipit eget porta vehicula facilisi aptent nunc mus. Adipiscing quis suscipit non dictumst malesuada ornare accumsan
    </p>
    <h2>
      Open Positions
    </h2>
      <p>
      {% for job in jobs%}
        {% include 'jobitem.html'%}
        {% endfor %}
        </p>
    <div> 
      <button> Contact Us </button>
       </div>
      <p> Hello Friends </p>
       </div>
      </body>
 


  
</html>